<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-active banner-area" id="accueil" #accueil>

<!--    <div class="single-banner bg_cover" style="background-image: url(assets/images/imageDownload/firstSlidea2.jpg);">-->
    <div class="single-banner bg_cover" style="background-image: url(assets/images/industrie/imageAda5.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content pt-100">
                            <span data-animation="fadeInLeft" data-delay="0.5s"> CONFECTION VÊTEMENT PROFESSIONNEL</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title"> INDUSTRIE</h1>
                            <!-- <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles, de tailles et de couleurs.</p> -->
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <!-- <i class="fas fa-hand-holding-usd"></i> -->

                            <!-- <ul>
                                <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                        data-wow-delay="1s" href="#"><span><i
                                                class="fal fa-hand-holding-usd "></i></span>
                                        <p>Confort</p>
                                    </a></li>
                                <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                        data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                                class="fal fa-home"></i></span>
                                        <p>Sécurité</p>
                                    </a>
                                </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul> -->

                        </div>
                        <!-- banner content -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(../../../../assets/images/industrie/2.jpeg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <!-- <span data-animation="fadeInLeft" data-delay="0.5s">UNE AUTRE VISION DE LA CONFECTION </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">CREATEX GROUP</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles,
                              de tailles et de couleurs.</p> -->
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <!-- <ul>
                              <li><a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#"><span><i class="fal fa-gem"></i></span>
                                      <p>Vente</p>
                                  </a></li>
                              <li><a class="btn-2 fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i class="fal fa-bullseye"></i></span>
                                      <p>Location</p>
                                  </a>
                              </li>
                            </ul> -->

                            <!-- <ul>
                              <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                     data-wow-delay="1s" href="#"><span><i
                                class="fal fa-hand-holding-usd "></i></span>
                                <p>Confort</p>
                              </a></li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Sécurité</p>
                              </a>
                              </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul> -->

                        </div>
                    </div>




                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(assets/images/industrie/1.jpeg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <!-- <span data-animation="fadeInLeft" data-delay="0.5s">UNE AUTRE VISION DE LA CONFECTION </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">CREATEX GROUP</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles,
                              de tailles et de couleurs.</p> -->
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <!-- <ul>
                              <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                     data-wow-delay="1s" href="#"><span><i
                                class="fal fa-hand-holding-usd "></i></span>
                                <p>Confort</p>
                              </a></li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Sécurité</p>
                              </a>
                              </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul> -->

                        </div>
                        <!-- banner content -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
</div>

<!-- Section Présentation -->

<div class="about-area pt-90 pb-120" id="presentation" #presentation>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="about-thumb mt-30">
                    
                    <img src="assets/images/industrie/1.jpeg" width="250px" height="220px">
                    <img src="assets/images/industrie/ind1.jpg" alt="">
                    <img src="assets/images/industrie/ind6.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="assets/images/industrie/ind8.jpg"   alt="">
                    <img src="assets/images/industrie/ind7.jpg" alt="">
                    <img src="assets/images/industrie/ind9.jpg" alt="" alt="">
                    <img src="assets/images/industrie/ind1.jpg" alt="">
                    <img src="assets/images/industrie/ind1.jpg" alt="">
                </div>
                <!-- about thumb -->
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="about-item mt-30">
                    <img src="assets/images/industrie/ind5.jpeg" alt="">
                   
                </div>
                <!-- about item -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<hr class="hrStyle">
<!-- Nos Valeur -->
<div class="Progress-bar-area mb-45">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center">
                <h2 class="title">AUTRES</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <img src="assets/images/industrie/ind11.jpg" alt="">
       
            
            <img src="assets/images/industrie/ind12.jpg" alt="">
        
            
            <img src="assets/images/industrie/ind13.jpg" alt="">
           
<img src="assets/images/industrie/ind14.jpg" alt="">

<img src="assets/images/industrie/ind15.jpg" alt="">
         
        </div>
    </div>
</div>
