<!--====== HEADER PART START ======-->
<header class="header-area-2">
    <div class="header-top pl-30 pr-30">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="header-left-side text-center text-sm-left">
                        <!-- <ul>
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#">Refund Policy</a></li>
                      </ul> -->
                        <!-- Icon Réseau Sociaux -->
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <!-- Icon Réseau Sociaux -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header-right-social text-center text-sm-right">
                        <ul>
                            <!-- <li><a href="#">Se connecter</a></li>
                        <li><a href="#">S'inscrire</a></li> -->
                            <li><a href="#" class="c-email"><i class="fal fa-envelope"></i>&nbsp;createxgroupe@gmail.com</a></li>
                            <li><a href="#" class="c-tel"><i class="fal fa-phone"></i>&nbsp;+221 33 837 91 27</a></li>
                            <!-- <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" routerLink='/'><img class="logoDimension" src="assets/images/imageDownload/logoCreatex.jpeg" alt=""></a>
                <!-- logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
              </button>
                <!-- navbar toggler -->
                <div class="collapse navbar-collapse sub-menu-bar menu1" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink='/' style="color: #f71024 !important;">Accueil</a>
                            <!-- <a class="nav-link"  (click)="scrollToElement(accueil)">Accueil</a> -->
                            <!-- <ul class="sub-menu">
                              <li><a routerLink='/' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home 1</a></li>
                              <li><a routerLink='/home-2' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home 2</a></li>
                              <li><a routerLink='/home-3' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home 3</a></li>
                              <li><a routerLink='/home-4' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home 4</a></li>
                          </ul> -->
                            <!-- sub menu -->
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/' routerLinkActive="active" style="color: #f71024 !important;" [routerLinkActiveOptions]="{exact: true}">CONFECTION VETEMENT</a>
                             <ul class="sub-menu">
                              <li><a routerLink='/industrie' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">INDUSTRIE</a></li>
                              <li><a routerLink='/batiment' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">BÂTIMENT, TRAVAUX PUBLICS</a></li>
                              <li><a routerLink='/medical' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">MEDICAL & PARAMEDICAL</a></li>
                              <li><a routerLink='/hotellerie' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">HÔTELLERIE,SERVICES & ACCUEIL</a></li>
                              <li><a routerLink='/UNIFORME' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">UNIFORME</a></li>
                              <!-- <li><a routerLink='/shop' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop</a></li>
                              <li><a routerLink='/shop-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop Details</a></li>
                              <li><a routerLink='/team' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team</a></li>
                              <li><a routerLink='/team-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team details</a></li> -->
                          </ul>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink='/presentation' style="color: #f71024 !important;">VENTE EPI</a>
                        </li> -->

                        <li class="nav-item">
                            <a class="nav-link" routerLink='/' routerLinkActive="active" style="color: #f71024 !important;" [routerLinkActiveOptions]="{exact: true}">VENTE EPI</a>
                             <ul class="sub-menu">
                              <li><a routerLink='/case-study' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CHAUSSURES DE SECURITE</a></li>
                              <li><a routerLink='/case-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CASQUES DE SECURITE</a></li>
                              <li><a routerLink='/coming-soon' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">GILETS DE SIGNALISATION</a></li>
                              <li><a routerLink='/faqs' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">TENUES DE PLUIE</a></li>
                              <li><a routerLink='/pricing' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">GANTS</a></li>
                              <!-- <li><a routerLink='/shop' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop</a></li>
                              <li><a routerLink='/shop-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop Details</a></li>
                              <li><a routerLink='/team' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team</a></li>
                              <li><a routerLink='/team-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team details</a></li> -->
                          </ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink='/presentation' style="color: #f71024 !important;">OBJET PUBLICITAIRE</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/' routerLinkActive="active" style="color: #f71024 !important;" [routerLinkActiveOptions]="{exact: true}">OBJETS PUBLICITAIRES</a>
                             <ul class="sub-menu">
                              <li><a routerLink='/case-study' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">SOLUTIONS TEXTILES</a></li>
                              <li><a routerLink='/case-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CADEAUX D'ENTREPRISES</a></li>
                              <li><a routerLink='/coming-soon' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">SUPPORTS DE COMMUNICATION</a></li>
                              <!-- <li><a routerLink='/faqs' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">MEDICAL & PARAMEDICAL</a></li>
                              <li><a routerLink='/pricing' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">UNIFORME</a></li> -->
                              <!-- <li><a routerLink='/shop' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop</a></li>
                              <li><a routerLink='/shop-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop Details</a></li>
                              <li><a routerLink='/team' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team</a></li>
                              <li><a routerLink='/team-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team details</a></li> -->
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/presentation' style="color: #f71024 !important;">Présentation</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" routerLink='/locationstandard'>Locations</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" routerLink='/ventestandard'>Ventes</a>-->
<!--                        </li>-->
                        <!-- <li class="nav-item">
                            <a class="nav-link" >Management <i class="fal fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                              <li><a routerLink='/locationstandard' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Locations</a></li>
                              <li><a routerLink='/ventestandard' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ventes</a></li>
                          </ul> -->
                            <!-- <ul class="sub-menu">
                              <li><a href="">Maisons</a></li>
                              <li><a href="">Appartements</a></li>
                                <li><a routerLink='/shop' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Maisons</a></li>
                          </ul> -->
                            <!-- sub menu -->
                        <!-- </li> -->
                       <!-- <li class="nav-item">
                            <a class="nav-link" routerLink='/ventestandard' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ventes</a>
                             <ul class="sub-menu">
                              <li><a routerLink='/case-study' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">case study</a></li>
                              <li><a routerLink='/case-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Case Details</a></li>
                              <li><a routerLink='/coming-soon' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">coming soon</a></li>
                              <li><a routerLink='/faqs' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">faq</a></li>
                              <li><a routerLink='/pricing' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">pricing</a></li>
                              <li><a routerLink='/shop' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop</a></li>
                              <li><a routerLink='/shop-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">shop Details</a></li>
                              <li><a routerLink='/team' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team</a></li>
                              <li><a routerLink='/team-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">team details</a></li>
                          </ul>

                            <ul class="sub-menu">
                              <li><a href="">Maisons</a></li>
                              <li><a href="">Terrains</a></li>
                              <li><a href="">Appartements</a></li>
                          </ul>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/contact-us' style="color: #f71024 !important;">Contact</a>
                            <!-- <ul class="sub-menu">
                              <li><a routerLink='/blog' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Standard</a></li>
                              <li><a routerLink='/blog-grid' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Grid</a></li>
                              <li><a routerLink='/blog-detail' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                          </ul>  -->
                            <!-- sub menu -->
                        </li>
                        <!-- <li class="nav-item"> -->
                        <!-- <a class="nav-link" >Menu6</a> -->
                        <!-- <a class="nav-link" routerLink='/contact-us' routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Menu6</a> -->
                        <!-- </li> -->
                    </ul>
                </div>
                <!-- navbar collapse -->
<!--                <div class="navbar-btn mr-100">-->
<!--                    <a class="main-btn" href="http://bo-optima-properties.suntelecoms.com/">Espace partenaire</a>-->
<!--                </div>-->
                <!-- <div class="country-flag d-none d-lg-block">
                  <a href="#"><img src="assets/images/flag-1.jpg" alt="flag"></a>
              </div> -->
            </nav>
        </div>
        <!-- navigation -->
    </div>
</header>
<!--====== HEADER PART ENDS ======-->
