<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-active banner-area" id="accueil" #accueil>

<!--    <div class="single-banner bg_cover" style="background-image: url(assets/images/imageDownload/firstSlidea2.jpg);">-->
    <div class="single-banner bg_cover" style="background-image: url(assets/images/imageDownload/imageAda.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content pt-100">
                            <span data-animation="fadeInLeft" data-delay="0.5s">UNE AUTRE VISION DE LA CONFECTION </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title"> CREATEX GROUP</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles, de tailles et de couleurs.</p>
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <!-- <i class="fas fa-hand-holding-usd"></i> -->

                            <ul>
                                <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                        data-wow-delay="1s" href="#"><span><i
                                                class="fal fa-hand-holding-usd "></i></span>
                                        <p>Confort</p>
                                    </a></li>
                                <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                        data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                                class="fal fa-home"></i></span>
                                        <p>Sécurité</p>
                                    </a>
                                </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul>

                        </div>
                        <!-- banner content -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(../../../../assets/images/industrie/imageAda5.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">UNE AUTRE VISION DE LA CONFECTION </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">CREATEX GROUP</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles,
                              de tailles et de couleurs.</p>
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <!-- <ul>
                              <li><a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#"><span><i class="fal fa-gem"></i></span>
                                      <p>Vente</p>
                                  </a></li>
                              <li><a class="btn-2 fadeInUp wow" data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i class="fal fa-bullseye"></i></span>
                                      <p>Location</p>
                                  </a>
                              </li>
                            </ul> -->

                            <ul>
                              <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                     data-wow-delay="1s" href="#"><span><i
                                class="fal fa-hand-holding-usd "></i></span>
                                <p>Confort</p>
                              </a></li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Sécurité</p>
                              </a>
                              </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul>

                        </div>
                    </div>


                    <video autoplay muted loop id="myVideo">
                        <source src="rain.mp4" type="video/mp4">
                      </video>

                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(assets/images/imageDownload/imageAda6.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">UNE AUTRE VISION DE LA CONFECTION </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">CREATEX GROUP</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Offrir  des pièces alliant confort, qualité et sécurité pour une large gamme de modèles,
                              de tailles et de couleurs.</p>
                            <!-- <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a> -->

                            <ul>
                              <li><a routerLink="/ventestandard" class="fadeInUp wow" data-wow-duration="1s"
                                     data-wow-delay="1s" href="#"><span><i
                                class="fal fa-hand-holding-usd "></i></span>
                                <p>Confort</p>
                              </a></li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="1.5s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Sécurité</p>
                              </a>
                              </li>
                              <li><a routerLink="/locationstandard" class="btn-2 fadeInUp wow colorIcon"
                                     data-wow-duration="1s" data-wow-delay="2s" href="#"><span><i
                                class="fal fa-home"></i></span>
                                <p>Esthétique </p>
                              </a>
                              </li>
                            </ul>

                        </div>
                        <!-- banner content -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
    </div>
</div>

<!-- Section Présentation -->

<div class="about-area pt-90 pb-120" id="presentation" #presentation>

    <div class="container">
        
        <div class="row align-items-center">
            
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                
                <div class="about-thumb mt-30">
                    <img src="assets/images/imageDownload/logoCreatex.jpeg" alt="">

                </div>
                
                <!-- about thumb -->
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="about-item mt-30">
                    <span>Présentation de</span>
                    <h3 class="title">CREATEX GROUP.</h3>
                    <p>CREATEX GROUP est spécialisé dans la conception et fabrication de tenues de travail destinées à divers secteurs d'activité à l’échelle nationale et internationale. Grâce à son expertise dans le domaine de la confection, elle produit des pièces alliant confort,
                      qualité et sécurité pour une large gamme de modèles, de tailles et de couleurs.</p>
                    <div class="about-experience">
                        <h3>4</h3>
                        <span>Années <br> Experience</span>
                    </div>
                    <ul>
                        <li><a class="main-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"
                                routerLink='/presentation'>Voir plus</a></li>
                        <li><a class="main-btn main-btn-2 wow video-popup" data-wow-duration="2s" data-wow-delay=".5s" href="assets/images/industrie/video.mp4" preload="auto"><i class="fal fa-video"></i> Intro Video</a></li>
                    </ul>
                </div>
                <!-- about item -->
            </div>
        </div>
        <!-- row -->
        
    </div>
    
    <!-- container -->
</div>

<hr class="hrStyle">
<!-- Nos Valeur -->
<div class="Progress-bar-area mb-45">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center">
                <h2 class="title">Nos Valeurs</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".1s">
                <div class="Progress-bar-item mt-30" id="circle1">
                    <div class="Progress-bar-content text-center">
                        <i class="valTitle">ENGAGEMENT</i>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="Progress-bar-item mt-30" id="circle2">
                    <div class="Progress-bar-content text-center">
                        <i class="valTitle">TRANSPARENCE</i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                <div class="Progress-bar-item mt-30" id="circle3">
                    <div class="Progress-bar-content text-center">
                        <i class="valTitle">INTEGRITE</i>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".9s">
                <div class="Progress-bar-item mt-30" id="circle4">
                    <div class="Progress-bar-content text-center">
                        <i class="valTitle">PERSEVERANCE</i>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".9s">
                <div class="Progress-bar-item mt-30" id="circle5">
                    <div class="Progress-bar-content text-center">
                        <i class="valTitle">EXCELLENCE</i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Nos Valeur end -->

<!--Fin Section Présentation -->

<!--<div class="solution-area bg_cover" style="background-image: url(assets/images/imageDownload/house2.jpg);" id="location"-->
<!--    #location>-->
<!--    <div class="solution-overlay pt-120">-->
<!--        <div class="container">-->
<!--            <div class="row align-items-center">-->
<!--                <div class="col-lg-8">-->
<!--                    <div class="solution-box">-->
<!--                        <div class="solution-content">-->

<!--                            <h3 class="title">Locations Maisons & Appartements</h3>-->
<!--                            <p>La mise en valeur, la construction et l’exploitation de biens immobiliers.</p>-->
<!--                            <div class="solution-play text-right mr-30 d-block d-lg-none">-->
<!--                                <a class="video-popup" href="#"><i class="fas fa-play"></i></a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="solution-play text-right mr-30 d-none d-lg-block">-->
<!--                        <a class="video-popup" href="#">-->
<!--                            <i class="fas fa-home fa-lg colorFa"></i>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--====== SOLUTION PART ENDS ======-->
<!--====== SERVICES TITLE PART START ======-->
<!--<div class="services-title-area">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="services-title-item text-center">-->
<!--                    <div class="ring-shape"></div>-->
<!--                    <span>Nos offres de location les plus récentes</span>-->
<!--                    &lt;!&ndash; <h3 class="title">We Offer Better Soluation For Your IT Business</h3> &ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--====== SERVICES TITLE PART ENDS ======-->
<!--====== LATEST SERVICES PART START ======-->
<!--<div class="latest-services-area">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->

<!--            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s"-->
<!--                *ngFor="let location of tabLocations">-->
<!--                <div class="single-services mt-30 mb-55">-->
<!--                    <div class="services-thumb">-->
<!--                        <img class="imageLocation" src="{{location?.images[0]?.url}}" alt="">-->
<!--                    </div>-->
<!--                    <div class="services-content">-->
<!--                        <h4 class="title c-title"><i class="fas fa-map-marker-alt"></i>&nbsp;{{location.adresse}} - -->
<!--                            {{location.zone}} </h4>-->
<!--                        <div *ngIf="location.description.length>=2">-->
<!--                            <p class="c-desc" *ngFor="let i of [0,1]">-->
<!--                                <span-->
<!--                                    *ngIf="location.description[i]?.libelle != '' && location.description[i]?.description !=''">-->
<!--                                    - {{location.description[i]?.libelle}} :-->
<!--                                    {{location.description[i]?.description}}</span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <div *ngIf="location.description.length == 1">-->
<!--                            <p class="c-desc" *ngFor="let i of [0]">-->
<!--                                <span-->
<!--                                    *ngIf="location.description[i]?.libelle != '' && location.description[i]?.description !=''">-->
<!--                                    - {{location?.description[i]?.libelle}} :-->
<!--                                    {{location?.description[i]?.description}}</span>-->
<!--                            </p>-->
<!--                            <p class="c-desc-top"></p>-->
<!--                        </div>-->
<!--                        <a [routerLink]="['/detailbien', location.id]">Voir Détail<i-->
<!--                                class="fal fa-long-arrow-right"></i></a>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--        &lt;!&ndash; row &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; container &ndash;&gt;-->
<!--</div>-->
<!--====== LATEST SERVICES PART ENDS ======-->
<!--====== CASE STUDIES PART START ======-->
<!--<div class="case-studies-area backgroundVente" id="vente" #vente>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-5">-->
<!--                <div class="section-title">-->
<!--                    <span class="textColorSpan">Offres récentes</span>-->
<!--                    <h2 class="title textColorTitle">Ventes Maisons Terrains & Appartements... </h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container-fluid pl-70 pr-70">-->
<!--        <div class="row no-gutters case-studies-active">-->
<!--            <div class="col-lg-4" *ngFor="let vente of tabVente">-->
<!--                <div class="single-case-studies mt-30">-->
<!--                    <img class="imageDimension" src="{{vente?.images[0]?.url}}" alt="case-studies">-->
<!--                    <div class="case-overlay">-->
<!--                        <div class="item">-->
<!--                            <span class="c-venteZone"><i class="fas fa-map-marker-alt"></i>&nbsp;{{vente?.zone}} - -->
<!--                                {{vente?.adresse}}</span>-->
<!--                            &lt;!&ndash; <h5 class="title" *ngIf="vente?.description.length != 0">{{vente?.description[0]?.libelle}} : {{vente?.description[0]?.description}}-->
<!--                            </h5> &ndash;&gt;-->
<!--                        </div>-->
<!--                        <a [routerLink]="['/detailbien', vente.id]"><i class="fal fa-long-arrow-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--====== CASE STUDIES PART ENDS ======-->

<!--====== CONTACT US PART START ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/contact-bg.jpg)">
    <div class="contact-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center" id="contact" #contact>
                        <!-- <span>contactez nous</span> -->

                        <h2 class="title">Contactez-nous</h2>
                    </div>
                    <!-- sevtion title -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex">
                        <div class="contact-thumb wow slideInLeft" data-wow-duration=".5s" data-wow-delay="0s">
                            <img src="assets/images/imageDownload/logoCreatex.jpeg" alt="">
                        </div>
                        <div class="contact-form-area">
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                <div class="input-title">
                                    <h3 class="title">Pour tous renseignements supplémentaires...</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-box mt-20">
                                            <input type="text" placeholder="Nom & Prénom" id="nom_prenom"
                                                name="nom_prenom" formControlName="nom_prenom"
                                                [ngClass]="{ 'is-invalid': (submitted || contactForm.get('nom_prenom').dirty || contactForm.get('nom_prenom').touched) && contactForm.get('nom_prenom').errors?.required}">
                                            <i class="fal fa-user"></i>
                                            <div *ngIf="contactForm.get('nom_prenom').errors" class="invalid-feedback">
                                                <div
                                                    *ngIf="(submitted || contactForm.get('nom_prenom').dirty || contactForm.get('nom_prenom').touched) && contactForm.get('nom_prenom').errors?.required">
                                                    le nom et prénom sont obligatoires</div>
                                            </div>
                                        </div>
                                        <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-20">
                                            <input id="email" name="email" type="email" placeholder="Email"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': (submitted || contactForm.get('email').dirty || contactForm.get('email').touched ) && ( contactForm.get('email').errors?.pattern)}">
                                            <i class="fal fa-envelope-open"></i>
                                            <div *ngIf="contactForm.get('email').errors?.pattern">Email invalide</div>
                                        </div>
                                        <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-20">
                                            <input id="telephone" name="telephone" type="text"
                                                placeholder="N° Téléphone" formControlName="telephone">
                                            <i class="fal fa-phone"></i>
                                            <div *ngIf="contactForm.get('telephone').errors" class="invalid-feedback">
                                                <div
                                                    *ngIf="(submitted || contactForm.get('telephone').dirty || contactForm.get('telephone').touched) && contactForm.get('telephone').errors?.required">
                                                    le téléphone est obligatoire</div>
                                                <div *ngIf="contactForm.get('telephone').errors?.pattern">Numéro
                                                    téléphone invalide</div>
                                            </div>
                                        </div>
                                        <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-20">
                                            <input type="text" placeholder="Objet" id="object" name="object"
                                                formControlName="object">
                                            <i class="fal fa-edit"></i>
                                        </div>
                                        <!-- input box -->
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-box mt-20">
                                            <textarea cols="30" rows="10" placeholder="Message" id="message"
                                                name="message" formControlName="message"
                                                [ngClass]="{ 'is-invalid': (submitted || contactForm.get('message').dirty || contactForm.get('message').touched) && contactForm.get('message').errors?.required}">

                                        </textarea>
                                            <i class="fal fa-pencil"></i>
                                            <div *ngIf="contactForm.get('message').errors" class="invalid-feedback">
                                                <div
                                                    *ngIf="(submitted || contactForm.get('message').dirty || contactForm.get('message').touched) && contactForm.get('message').errors?.required">
                                                    le message est obligatoire</div>
                                            </div>
                                            <button class="main-btn wow slideInUp" style="background: #dd2133 !important;" data-wow-duration="1.5s" data-wow-delay="0s"  ng-click=" onSubmit() " [disabled]="submitted">Envoyer Message <i class="fa fa-spinner fa-pulse" *ngIf="submitted"></i>
                                            </button>
                                            <!-- <button class="main-btn wow slideInUp" data-wow-duration="1.5s"
                                                data-wow-delay="0s" [disabled]="desactiverButton" style="background: #dd2133 !important;">Envoyer Message <i
                                                    class="fa fa-spinner fa-pulse" *ngIf="desactiverButton"></i>
                                            </button> -->
                                        </div>
                                        <!-- input box -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- contact details -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
</div>
<app-footer2></app-footer2>
